@model CanteiroLinhaEditorModel
<tr data-canteiro-row>
    <td>
        <input type="hidden" name="Canteiros[@Model.Index].Id" value="@Model.Linha.Id" />
        <input type="text" name="Canteiros[@Model.Index].Identificacao" value="@Model.Linha.Identificacao" class="form-control form-control-sm" placeholder="Identificação" />
    </td>
    <td>
        <input type="text" name="Canteiros[@Model.Index].Dimensoes" value="@Model.Linha.Dimensoes" class="form-control form-control-sm" placeholder="Dimensões" />
    </td>
    <td>
        <select name="Canteiros[@Model.Index].Status" class="form-select form-select-sm">
            @foreach (StatusCanteiro s in Enum.GetValues<StatusCanteiro>())
            {
                if (Model.Linha.Status == s)
                {
                    <option value="@((int)s)" selected="selected">@s</option>
                }
                else
                {
                    <option value="@((int)s)">@s</option>
                }
            }
        </select>
    </td>
    <td class="text-center">
        <input type="hidden" name="Canteiros[@Model.Index].Remover" value="false" />
        <input type="checkbox" name="Canteiros[@Model.Index].Remover" value="true" class="form-check-input" title="Remover" @(Model.Linha.Remover ? "checked" : null) />
    </td>
</tr>
